<div class="container pt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/foto1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Madame Bovary</h5>
                    <p class="card-text">Manequim feminino restaurado com altura regulável (1.58x1.73cm).</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/foto3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2ndHand (n2-série2)</h5>
                    <p class="card-text">Betão e alguns materiais reaproveitados.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/foto5.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Toldo</h5>
                    <p class="card-text">Oportunidade proporcionada pelo restaurante "O Pratinho Feio".</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/6.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/7.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/8.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/9.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/10.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/11.jpeg" class="card-img-top" alt="asdsad">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/12.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/13.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/15.jpeg" class="card-img-top" alt=".asdad.">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/16.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/17.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 20rem;">
                <img src="/images/19.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>


