<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Inverte</title>
  <link rel="stylesheet" href="styleSheet/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="description" content="Inverte Register Page">
  <meta name="author" content="SitePoint">

</head>

<body class='bg-light'>
    <div>
      {{>navbar}}
    </div>
    <div class='sign'>
      {{>registerbody}}
    </div>
</body>
</html>